[submodule "configs/.config/sublime-text/Packages/EditorConfig"]
	path = configs/.config/sublime-text/Packages/EditorConfig
	url = https://github.com/sindresorhus/editorconfig-sublime.git
[submodule "configs/.config/sublime-text/Packages/elixir-tmbundle"]
	path = configs/.config/sublime-text/Packages/elixir-tmbundle
	url = https://github.com/elixir-lang/elixir-tmbundle.git
[submodule "configs/.config/sublime-text/Packages/Terraform.tmLanguage"]
	path = configs/.config/sublime-text/Packages/Terraform.tmLanguage
	url = https://github.com/alexlouden/Terraform.tmLanguage.git
[submodule "configs/.config/sublime-text/Packages/Docker.tmbundle"]
	path = configs/.config/sublime-text/Packages/Docker.tmbundle
	url = https://github.com/asbjornenge/Docker.tmbundle
