! ------------------------------------------------------------------------------
! Colors
! ------------------------------------------------------------------------------
*background: #FFFFFF
*foreground: #111111


! ------------------------------------------------------------------------------
! Terminal settings
! ------------------------------------------------------------------------------
*geometry: 180x60

xterm*font: 6x13
xterm*scrollBar: false

urxvt*cursorBlink: 1
urxvt*font: xft:terminus:pixelsize=10
urxvt*boldFont:
urxvt*keysym.Home: \033[1~
urxvt*keysym.End: \033[4~
urxvt*fading: 0
urxvt*scrollBar: false
urxvt*iso14755: false
