! ------------------------------------------------------------------------------
! Colors
! ------------------------------------------------------------------------------
*background: #000000
*foreground: #D5D5D5
*color0: #1C1C1C
*color4: #6495ED
*color12: #6495ED


! ------------------------------------------------------------------------------
! Terminal settings
! ------------------------------------------------------------------------------
*geometry: 180x60

urxvt*cursorBlink: 1
urxvt*font: xft:terminus:pixelsize=10
urxvt*boldFont:
urxvt*keysym.Home: \033[1~
urxvt*keysym.End: \033[4~
urxvt*fading: 0
urxvt*scrollBar: false
urxvt*iso14755: false
