! ------------------------------------------------------------------------------
! Pastel colour scheme
! ------------------------------------------------------------------------------
urxvt.background: #000000
urxvt.foreground: #D3D2D3
urxvt.color0: #000000
urxvt.color1: #FF7768
urxvt.color2: #ABFA68
urxvt.color3: #FFFD88
urxvt.color4: #98D0FE
urxvt.color5: #FF85FD
urxvt.color6: #CACBFE
urxvt.color7: #EFEFEF
urxvt.color8: #848484
urxvt.color9: #FFBCB5
urxvt.color10: #D1FCB1
urxvt.color11: #FFFDD0
urxvt.color12: #BADFFF
urxvt.color13: #FFA9FE
urxvt.color14: #E2E3FE
urxvt.color15: #FFFFFF


! ------------------------------------------------------------------------------
! URxvt
! ------------------------------------------------------------------------------
URxvt*.scrollBar:   false
URxvt*.cursorBlink: 1
URxvt.font:         xft:Terminus:pixelsize=14
URxvt.boldFont:
URxvt*keysym.Home:  \033[1~
URxvt*keysym.End:   \033[4~
URxvt*fading:       0
