snippet com
	//-----------------------------------------------------------------------------
	// ${1:Title}
	//-----------------------------------------------------------------------------
	${2}

snippet scom
	// ${1:Title}
	//--------------------------------
	${2}
